parameters:
    level: 5
    paths:
        - src
        - plugin.php
    scanDirectories:
        - vendor/php-stubs/wp-cli-stubs/
    ignoreErrors:
        - 
            message: '#unknown class DustPress\\Debugger#'

